################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/climate/__pycache__
/light/__pycache__
/light/__pycache__
